#!/bin/sh

[ -f "$HOME/.Xresources" ] && xrdb -merge "$HOME/.Xresources"
[ -f "$HOME/.Xresources.cursor" ] && xrdb -merge "$HOME/.Xresources.cursor"

[ -f "$HOME/.config/shell/profile" ] && . "$HOME/.config/shell/profile"
