// based on this video https://www.youtube.com/watch?v=KfOYXvRMcIQ
* {
  border-radius: 3px;
  border: none;
}
window {
  font-size: 28px;
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  border-bottom: 3px solid white;
}

#entry{
  padding: 0.25em;
}

#entry:selected{
    background-color: #bbccdd;
    background: linear-gradient(90deg, #bbffdd, #dd77ff);
}

#text:selected{
  color: #333333;
}

#input{
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
  padding: 0.25em;
}
